Veuillez trouver ci-dessous le lien permettant de réinitialiser votre mot de passe:
<p><a href="http://localhost/Lakle/web/app_dev.php/register?key={{ user.token }}">
        {{ app.request.getSchemeAndHttpHost() }}/register?key={{ user.token }}
    </a></p>