{% extends "base.html.twig" %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/slide_6.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Présentation</span> de l'association</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="best-deal">
        <div class="container">
            <div class="row">


                <div class="col-md-5 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                    <h2>Nos missions</h2>
                    <p>LAKLE a pour missions</p>
                    <p>De contribuer à la mise en oeuvre d'une politique sociale du logement pour les populations démunies
                        afin de favoriser leur insertion par l'habitat.</p>
                    <p>D'exercer toutes opérations d'intermédiaires entre bailleurs et locataires permettant le logement ou
                        le relogement des personnes mal logées ou en difficulté.</p>
                    <p>De promouvoir la création de logement durable.</p>
                    <p>D'assurer l'ASSL, l'AVLD, la médiation locative, l'accompagnement socio-éducatif en vue de l'insertion
                        par le logement des personnes et des familles en difficulté.</p>
                </div>
                <div class="col-md-5 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                    <h2>Nos interventions</h2>
                    <ul>
                        <li>Location</li>
                        <li>Mandat de gestion (rédaction de bail, état des lieux, gestion locative)</li>
                        <li>L'Accompagnement Social Lié au Logement (ASSL)</li>
                        <li>Accompagnement Vers et Dans le Logement (AVDL)</li>
                        <li>Un conseiller en Economie Sociale et Familiale qualifié dans le domaine</li>


                    </ul>
                </div>
                </div>
            <div class="row">

                <div class="col-md-5 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                    <h2>Le conseil d'administration</h2>
                    <ul>
                        <li>M. Richard TALBOT</li>
                        <li>M. Thierry SEBELOUE</li>
                        <li>Mme Jocelyne BARTHELEMY</li>
                        <li>Mme Mireille ROMAIN</li>
                        <li>Un représentant de l'ADAPEI</li>
                        <li>Un représentant du PACT</li>
                    </ul>
                </div>
                <div class="col-md-5 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                    <h2>L'équipe</h2>
                    <ul>
                        <li>Mme Emilia ABRAHAM, secrétaire aide-comptable</li>
                        <li>Mme Rachel LINGIBÉ, conseillère en économie sociale et familiale</li>
                    </ul>

                </div>

            </div>


        </div>

    </div>



{% endblock %}
    {% block javascripts %}


    {% endblock %}
