{% extends "base.html.twig" %}
{% block title %}Propriétaires - {% endblock %}
{% block description %}Laklé recherche des logements de tout type sur toute la Guyane. Découvrez Les avantages propriétaires d'une mise en gestion de votre logement auprès de nos services.{% endblock %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/header.jpeg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Propriétaires :</span> pourquoi nous confier votre bien?</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-3 item-block animate-box" data-animate-effect="fadeIn" style="padding: 10px; border: 2px solid #4CB648; border-radius: 10px ">
                   <h4>Vous souhaitez nous confier la gestion de votre bien?</h4>
                    <p>Liste des pièces à fournir</p>
                    <ul>
                        <li>Pièce d'identité</li>
                        <li>Titre de propriété</li>
                        <li>Relevé d'identité bancaire</li>
                        <li>Engagement du bailleur signé avec l'Anah (le cas échéant)</li>
                    </ul>
                    <button class="btn btn-default"><a href="{{ path('formulaire') }}">Accéder au formulaire</a></button>
                </div>
                <div class="col-sm-9">

                    <div class="col-md-11 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                        <h4>Quel type de biens intéresse l'AIVS LAKLE?</h4>
                        Tout bien immobilier destiné au logement situé en Guyane.<br>
                        LAKLE gère pour le compte des propriétaires:
                        <ul>
                            <li>les studios</li>
                            <li>les appartements</li>
                            <li>les maisons</li>
                            <li>les immeubles</li>

                        </ul>
                    </div>

                    <div class="col-md-11 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                        <h4>Vous êtes propriétaires d'un bien</h4>
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                           href="#accordion1_1">En bon état locatif</a>
                                    </h5>
                                </div>
                                <div id="accordion1_1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Si votre bien répond aux normes de salubrité et est louable immédiatement, vous
                                        pouvez
                                        prendre contact avec l'agence.
                                        Une visite du bien sera programmée rapidement et vous recevrez une estimation du
                                        loyer
                                        auquel vous pourrez prétendre.
                                        Cette démarche est sans engagement de votre part
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                           href="#accordion1_3">Qui a besoin d'être rénové</a>
                                    </h5>
                                </div>
                                <div id="accordion1_3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Vous pouvez bénéficier d'une aide financière de l'Agence nationale pour l'amélioration de l'habitat
                                        (Anah) pour réaliser les travaux nécessaires. En contrepartie,
                                        vous vous engagez à proposer votre bien à un loyer abordable à des locataires de
                                        ressources modestes. LAKLE assurera la mise
                                        en location dès la réalisation de ces démarches.
                                        <p><a href="http://www.anah.fr"
                                              class="btn btn-primary btn-outline with-arrow btn-sm">Accéder au site de
                                                l'Anah <i class="icon-arrow-right"></i></a></p>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="col-md-11 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                        <h4>Nos services</h4>
                        <p>L'agence effectue son activité, soit en location, soit dans le cadre d'un bail de droit
                            commun par l'intermédiaire
                            d'un mandat en gestion, en associant pratiques immobilières professionnelles et déontologie
                            propre au secteur de l'économie sociale. Elle assure :</p>
                        <ul>
                            <li>la gestion locative</li>
                            <li>l'entretien du logement</li>
                            <li>l'indexation de votre loyer</li>
                            <li>la remise en état du bien en fin de location</li>
                            <li>en cas de réparations importantes à votre charge, un accompagnement et un conseil</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
    {% block javascripts %}


    {% endblock %}