{% extends "base.html.twig" %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/slide_6.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Locataires :</span> conditions d'attributions</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="best-deal">
        <div class="container">
            <div class="row">


                <div class="col-md-8 col-md-offset-2 item-block animate-box" data-animate-effect="fadeIn">
                    <h3>Logements et loyers</h3>
                    Le type de logement attribué est déterminé par la composition du ménage.<br>
                    Nos loyers sont inférieurs au prix du marché locatif privé.

                </div>

                <div class="col-md-8 col-md-offset-2 item-block animate-box" data-animate-effect="fadeIn">
                    <h3>Attributions et listes d'attente</h3>

                                </div>

                <div class="col-md-8 col-md-offset-2 item-block animate-box" data-animate-effect="fadeIn">
                    <h3>Conditions d'admission</h3>
                    Pour devenir locataire :
                    <ul>
                        <li>vos revenus ne peuvent déplacer les plafonds d'admission légaux,</li>
                        <li>vous ne pouvez pas être propriétaire d'un bien, </li>
                        <li>vous devez disposer d'un titre de séjour en règle.</li>
                    </ul>

                </div>

                </div>
                <div class="col-md-8 col-md-offset-2 item-block animate-box"  data-animate-effect="fadeIn">
                    <h3>Bail et garanties locatives</h3>

                </div>
                <div class="col-md-8 col-md-offset-2 item-block animate-box"  data-animate-effect="fadeIn">
                <h3>Règlement d'attributions</h3>

            </div>
            </div>

        </div>



{% endblock %}
    {% block javascripts %}


    {% endblock %}