{% extends "base.html.twig" %}
{% block title %}Locataires - {% endblock %}
{% block description %}Laklé propose des logements à loyers maîtrisés, sous réserve que votre situation réponde
à un certain nombre de critères.{% endblock %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/header.jpeg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Locataires :</span> conditions d'attributions</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-testimonial">
        <div class="container">
            <div class="row">

                <div class="col-md-3 item-block animate-box" data-animate-effect="fadeIn" style="padding: 10px; border: 2px solid #4CB648; border-radius: 10px ">
                    <h4>Pièces à fournir</h4>

                    <ul>
                        <li>Copie de la carte d'identité ou du titre de séjour en cours de validité du demandeur et du conjoint</li>
                        <li>Copie du livret de famille ou acte de naissance des enfants à charge</li>
                        <li>Attestation de paiement CAF</li>
                        <li>Trois derniers bulletins de salaires ou relevés de pension/retraite</li>
                        <li>Notification des droits Pôle Emploi et dernier avis de paiement pour les demandeurs d'emploi</li>
                        <li>Justificatifs de séparation ou de divorce</li><li>Relevé d'identité bancaire</li>
                        <li>Dernière quittance de loyer</li>
                        <li>Avis d'imposition des deux dernières années</li>
                        <li>Tout document justifiant un handicap ou une invalidité</li>
                    </ul>

                </div>
                <div class="col-sm-9">
                <div class="col-md-11 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                    <h4>Logements et loyers</h4>
                    Le type de logement attribué est déterminé par la composition du ménage.<br>
                    Nos loyers sont inférieurs au prix du marché locatif privé.

                </div>

                <div class="col-md-11 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                    <h4>Vous souhaitez faire acte de candidature?</h4>
                    <p>
                    <a href="{{ path('download') }}">Téléchargez notre formulaire de demande de logement</a>
                    </p>


                                </div>

                <div class="col-md-11 col-md-offset-1 item-block animate-box" data-animate-effect="fadeIn">
                    <h4>Conditions d'admission</h4>
                   Si votre dossier est recevable, il sera étudié en commission sous réserve de logements disponibles.
                </div>

                </div>


            </div>

        </div>



{% endblock %}
    {% block javascripts %}


    {% endblock %}